:root {
  --color-a: #121212;
  --color-b: #b3b3b3;
  --color-c: #ff0000;
}

body {
  background-color: var(--color-a);
  color: var(--color-b);
}

input {
  font-size: 20px;
  border: 0;
  color: var(--color-b);
  background-color: var(--color-a);
  width: 100%;
}

input:focus {
  outline: none;
}

span.mono {
  font-family: monospace;
}

span.num {
  font-weight: bold;
}

span.bool {
  font-style: italic;
}

span.error {
  font-family: monospace;
  color: var(--color-c);
  font-weight: bolder;
}

details {
  padding-left: 1em;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.search-area {
  display: flex;
  margin: 2em;
  padding: 0.25em;
  border: 0 solid var(--color-b);
  border-width: 0 0 2px 0;
  width: 20em;
}

.mag {
  font-size: 20px;
  user-select: none;
  margin: 0em 0.2em 0em 0.1em;
}