:root {
  --color-a: #121212;
  --color-b: #b3b3b3;
  --color-c: #b300b3;
  --main-font: 'Merriweather'
}

body {
  font-family: var(--main-font);
  background-color: var(--color-a);
  color: var(--color-b);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

input {
  font-family: var(--main-font);
  font-size: 20px;
  border: 0;
  color: var(--color-b);
  background-color: var(--color-a);
  width: 100%;
}

input:focus {
  outline: none;
}

button {
  font-family: var(--main-font);
  background-color: var(--color-a);
  color: var(--color-b);
  border: 0 solid var(--color-c);
  padding: 0;
}

span.mono {
  font-family: monospace;
}

span.num {
  font-weight: bold;
}

span.bool {
  font-style: italic;
}

span.error {
  font-family: monospace;
  color: var(--color-c);
  font-weight: bolder;
}

#mag {
  font-family: 'Noto Emoji';
  font-weight: bolder;
  cursor: pointer;
}

#clear {
  font-family: 'Noto Emoji';
  display: none;
  cursor: pointer;
}

.flex-wrap {
  display: flex;
  
}

.nav {
  display: flex;
  flex: 2;
}

.nav-empty {
  flex: 1;
}

.underlined-area {
  align-items: flex-end;
  flex: 1;
  display: flex;
  border: 0 solid var(--color-b);
  border-width: 0 0 0.1em 0;
  min-width: 18em;
  max-width: 25em;
}

.nav-full {
  display: flex;
  flex: 1;
  margin: 1vh 2em 0 1em;
}

.nav-region {
  display: flex;
  flex: 1;
  white-space: nowrap;
  align-items: flex-end;
}

button.region {
  font-size: large;
  cursor: pointer;
}

.nav-language {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  white-space: nowrap;
}

button.language {
  font-size: x-small;
  text-align: end;
  height: 1lh;
  cursor: pointer;
}

.main {
  flex: 1;
}

.info {
  font-size: x-small;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 1em 1lh 1em;
}

.contact {
  text-align: center;
  text-decoration: underline;
}

.legal {
  font-size: xx-small;
  font-style: italic;
}

.dev {
  font-family: monospace;
}